In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

plt.style.use('seaborn')
plt.rc('font', family='Malgun Gothic')
plt.rc('axes', unicode_minus=False)


df = pd.read_csv('rocket.csv')
df.head()

,Unnamed: 0,name,career,school,project,language,award,certificate
0,0,jiwonhan,경력\n(2년 3개월)\n \n \n \n \n ...,학력\n \n \n \n \n ...,"프로젝트\n \n \n \n 홍보\n, ...",언어\n \n \n 영어\n \n ...,NaN,자격증\n \n \n Google Analytics In...
1,1,크리에이티브스테이츠 Creative States,경력\n\n \n \n \n \n ...,NaN,NaN,NaN,NaN,NaN
2,2,강찬재 Kang Chan Jae,경력\n(5년 8개월)\n \n \n \n \n ...,학력\n \n \n \n \n ...,프로젝트\n \n \n \n uWSGI\...,NaN,NaN,자격증\n \n \n 정보기술자격(ITQ)OA마스터\n ...
3,3,손원정 Wonjeong Son,경력\n(5년)\n \n \n \n \n ...,학력\n \n \n \n \n ...,프로젝트\n \n \n \n 그래픽디자인...,NaN,NaN,자격증\n \n \n 컴퓨터그래픽스운용기능사\n ...
4,4,배두식,경력\n(4년 7개월)\n \n \n \n \n ...,학력\n \n \n \n \n ...,프로젝트\n \n \n \n \n ...,언어\n \n \n 영어\n \n ...,수상\n \n \n Startup Weekend Seou...,NaN

In [2]:
df.shape

(78135, 8)

In [13]:
df.project[50].split('    \n      \n        \n          ')[1].split('\n\n')[0].split('\n, ')

['백엔드개발자']

In [2]:
df['skills'] = np.nan
for i in range(0, df.shape[0]):
    if pd.isna(df.project[i]):
        df['skills'][i]=[]
        pass
    else:
        one_person = []
        n = len(df.project[i].split('    \n      \n        \n          '))
        for j in range(1,n):
            get = df.project[i].split('    \n      \n        \n          ')[j].split('\n\n')[0].split('\n, ')
            if len(get)==1:
                pass
            else:
                one_person.extend(get)

        
        df['skills'][i] = one_person

C:\Users\SAMSUNG\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
C:\Users\SAMSUNG\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [107]:
df.head()

,Unnamed: 0,name,career,school,project,language,award,certificate,skills
0,0,jiwonhan,경력\n(2년 3개월)\n \n \n \n \n ...,학력\n \n \n \n \n ...,"프로젝트\n \n \n \n 홍보\n, ...",언어\n \n \n 영어\n \n ...,NaN,자격증\n \n \n Google Analytics In...,"[홍보, 이벤트기획, 이벤트마케팅]"
1,1,크리에이티브스테이츠 Creative States,경력\n\n \n \n \n \n ...,NaN,NaN,NaN,NaN,NaN,[]
2,2,강찬재 Kang Chan Jae,경력\n(5년 8개월)\n \n \n \n \n ...,학력\n \n \n \n \n ...,프로젝트\n \n \n \n uWSGI\...,NaN,NaN,자격증\n \n \n 정보기술자격(ITQ)OA마스터\n ...,"[uWSGI, python3, Amazon AWS, Back-end, python ..."
3,3,손원정 Wonjeong Son,경력\n(5년)\n \n \n \n \n ...,학력\n \n \n \n \n ...,프로젝트\n \n \n \n 그래픽디자인...,NaN,NaN,자격증\n \n \n 컴퓨터그래픽스운용기능사\n ...,"[그래픽디자인, 모바일디자인, UI/UX디자인]"
4,4,배두식,경력\n(4년 7개월)\n \n \n \n \n ...,학력\n \n \n \n \n ...,프로젝트\n \n \n \n \n ...,언어\n \n \n 영어\n \n ...,수상\n \n \n Startup Weekend Seou...,NaN,[]

In [110]:
df.to_csv('skill.csv', encoding='UTF-8')

In [117]:
df.iloc[18,:]

Unnamed: 0                   18
name           변현지 Hyunji  Byun
career                      NaN
school                      NaN
project                     NaN
language                    NaN
award                       NaN
certificate                 NaN
skills                       []
Name: 18, dtype: object